.character-info {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: justify;
}
.character-info img {
    margin-right: 30px;
   border-radius: 10px;
   
}