 /* .clicked {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  }  */

 
  
  .clicked {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 75%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    width: 400px; /* Cambiar el valor de acuerdo al tamaño deseado */
    height: 400px; /* Cambiar el valor de acuerdo al tamaño deseado */
    z-index: 2;
    transition: opacity 1s ease-in-out;
  }

