.portal {
    margin: 200px;
    display: flex;
    
    box-shadow: 2px 1px 69px 14px#05e0fd;
    -webkit-box-shadow: 2px 1px 69px 14px#05e0fd;
    -moz-box-shadow: 2px 1px 69px 14px#05e0fd;
    width:40%;
    border-radius: 10px;
    padding: 20px;
    
}

.portal button {
   color: #05e0fd;
   
}

.portal img {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

.portal .pickle:hover {
    animation: girar 2s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




.btn-shine.playing::before {

    font-size: 20px;
}

.pickle {
width: 100px;
height: 100px;
}