#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
